<% content_for(:title, t('.title')) %>

<div class="flex justify-center items-center py-16">
  <div class="lg:w-3/5 md:w-3/4 w-11/12">
    <div class="px-4 pt-3 pb-5 sm:px-6">
      <div class="text-xl md:text-2xl lg:text-3xl text-center leading-6 font-medium text-gray-500 font-bold"><%= t('.title') %></div>
    </div>
    <div class= "bg-white p-4 lg:p-10 rounded-lg shadow-lg min-w-full">
      <%= image_tag current_user.avatar.url, class: "w-32 h-32 mx-auto shadow-lg rounded-full mb-5" %>
      <div class="text-lg text-center">
        <dl>
          <div class="px-4 py-3 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
            <dt class="font-medium text-gray-500">
              <i class="far fa-user text-3xl"></i>
            </dt>
            <dd class="mt-1 text-gray-500 sm:mt-0 pt-1">
              <%= current_user.name %>
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6 border-t border-gray-200">
            <dt class="font-medium text-gray-500">
              <i class="far fa-envelope text-3xl"></i>
            </dt>
            <dd class="mt-1 text-gray-500 sm:mt-0">
              <%= current_user.email %>
            </dd>
          </div>
          <div class="px-4 pt-8 pb-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6 border-t border-gray-200">
            <dd class="mt-1 mb-5 md:mb-0">
              <%= link_to user_path(current_user.uuid), class: "text-white bg-gradient-to-r from-cyan-300 hover:from-cyan-400 via-cyan-400 hover:via-cyan-500 to-cyan-500 hover:to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg px-3 lg:px-2 py-2 text-center m-4 mb-2" do %>
                <i class="fas fa-id-card text-2xl lg:text-4xl md:mt-2 lg:mt-0 lg:pt-3"></i><span><%= '詳細' %></span>
              <% end %>
            </dd>
            <dd class="mt-1.5">
              <%= link_to edit_profile_path, class: "text-white bg-gradient-to-r from-lime-300 hover:from-lime-400 via-lime-400 hover:via-lime-500 to-lime-500 hover:to-lime-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg px-3 py-2 text-center m-4 mb-2" do %>
                <i class="fas fa-user-edit text-2xl lg:text-2xl mt-2"></i><span><%= '編集' %></span>
              <% end %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="hidden bg-white border-0 mb-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg" id="user-show">
  <div>
    <div class="bg-cyan-500 text-white font-semibold p-2 px-5 mb-0 border-b border-solid border-blueGray-100 uppercase rounded-lg">
      <%= '詳細' %>
    </div>
  </div>
</div>
<div class="hidden bg-white border-0 mb-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg" id="user-edit">
  <div>
    <div class="bg-lime-500 text-white font-semibold p-2 px-5 mb-0 border-b border-solid border-blueGray-100 uppercase rounded-lg">
      <%= '編集' %>
    </div>
  </div>
</div>
