<div class="flex justify-center items-center py-16">
  <div class="lg:w-3/5 md:w-1/2 w-11/12">
    <div class="px-4 pt-3 pb-5 sm:px-6">
      <div class="text-xl lg:text-3xl lg:text-2xl text-center leading-6 font-medium text-gray-600 font-bold">プロフィール</div>
    </div>
    <div class= "bg-white p-4 lg:p-10 rounded-lg shadow-lg min-w-full">
      <%= image_tag current_user.avatar.url, class: "w-32 h-32 mx-auto shadow-lg rounded-full mb-5" %>
      <div class="text-lg text-center">
        <dl>
          <div class="px-4 py-3 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
            <dt class="font-medium text-gray-500">
              <%= User.human_attribute_name(:name) %>
            </dt>
            <dd class="mt-1 text-gray-900 sm:mt-0">
              <%= current_user.name %>
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6 border-t border-gray-200">
            <dt class="font-medium text-gray-500">
              <%= User.human_attribute_name(:email) %>
            </dt>
            <dd class="mt-1 text-gray-900 sm:mt-0">
              <%= current_user.email %>
            </dd>
          </div>
          <div class="px-4 pt-8 pb-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6 border-t border-gray-200">
            <dd class="mt-1 text-gray-900 sm:mt-0">
              <%= link_to t('.user_show'), user_path(current_user.uuid), class: "text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg px-5 py-2.5 text-center m-4 mb-2" %>
            </dd>
            <dd class="mt-1 text-gray-900 sm:mt-0">
              <%= link_to t('.update'), edit_profile_path, class: "text-white bg-gradient-to-r from-lime-400 via-lime-500 to-lime-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg px-5 py-2.5 text-center m-4 mb-2" %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
