<li id="comment-<%= comment.id %>">
  <div class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
      <div class="flex-shrink-0">
        <%= image_tag comment.user.avatar.url(:thumb), class: "w-8 h-8 mx-auto shadow-md rounded-full" %>
      </div>
      <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
          <%= comment.user.name %>
        </p>
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
          <%= simple_format(comment.body) %>
        </p>
      </div>
      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
        <%= link_to comment_path(comment), method: :delete, remote: true, data: { confirm: 'このコメントを削除してよろしいですか？' } do %>
          <i class="fas fa-trash-alt mr-2 text-red-700"></i>
        <% end %>
      </div>
    </div>
  </div>
</li>
