<% content_for(:title, @user.name) %>

<section class="pt-12 pb-24 bg-blueGray-100 overflow-hidden">
  <h1 class="text-3xl lg:text-5xl font-semibold text-center pb-5 text-gray-600"><%= @user.name %></h1>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 bg-white rounded-2xl">
      <div class="w-full px-4">
        <div class="py-10 mt-10 text-center">
          <%= image_tag @user.avatar.url, class: "w-48 h-48 mx-auto shadow-lg rounded-full" %>
          <h2 class="text-lg lg:text-3xl font-heading font-medium pt-7 pb-4 text-gray-600"><%= @user.name %></h2>
          <% if @user.twitter_id? %>
            <%= link_to "https://twitter.com/#{@user.email}", class: "text-cyan-400 hover:text-cyan-600 text-lg lg:text-3xl" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-span-2 w-full px-4 mb-14 lg:border-l-2 border-orange-400 border-opacity-30 mt-10">
        <div class="py-5 lg:px-8 md:px-16 rounded-3xl">
          <div class="flex flex-wrap mt-5 lg:mt-0" id="tabs-id">
            <div class="w-full">
              <ul class="flex mb-0 list-none flex-wrap flex-row">
                <li class="-mb-px last:mr-0 flex-auto text-center">
                  <a class="text-md md:text-lg font-bold uppercase px-5 py-2 shadow-lg rounded block leading-normal text-white bg-orange-400" onclick="changeAtiveTab(event,'tab-profile')">
                    <%= t('.user_recipes') %>
                  </a>
                </li>
                <li class="-mb-px last:mr-0 flex-auto text-center">
                  <a class="text-md md:text-lg font-bold uppercase px-5 py-2 shadow-lg rounded block leading-normal text-orange-400 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
                    <%= Favorite.model_name.human %>
                  </a>
                </li>
              </ul>
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded border-2 border-orange-400">
                <div class="flex-auto">
                  <div class="tab-content tab-space">
                    <div class="block" id="tab-profile">
                      <div class="p-5 overflow-y-auto h-96 bg-yellow-50">
                        <% if @user.foods.present? %>
                          <%= render partial: 'user_food', collection: @user.foods %>
                        <% else %>
                          <div class="text-center text-xl text-gray-600">
                            <%= t('.no_foods') %>                        
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="hidden" id="tab-settings">
                      <div class="p-5 overflow-y-auto h-96 bg-yellow-50">
                        <% if @user.favorite_foods.present? %>
                          <%= render partial: 'user_food', collection: @user.favorite_foods %>
                        <% else %>
                          <div class="text-center text-xl text-gray-600">
                            <%= t('.no_favorites') %>                        
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- tabs -->
<script type="text/javascript">
  function changeAtiveTab(event,tabID){
    let element = event.target;
    while(element.nodeName !== "A"){
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for(let i = 0 ; i < aElements.length; i++){
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-orange-400");
      aElements[i].classList.add("text-orange-400");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-orange-400");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-orange-400");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>
