<header class="sticky top-0 z-50">
  <div class="header">

    <nav class="bg-orange-400 py-2 md:py-4">
      <div class="container px-4 mx-auto md:flex md:items-center">

        <div class="flex justify-between items-center">
          <%= link_to "OATMEAL-APP", root_path, class: "font-bold text-xl text-orange-100" %>
          <button class="border border-solid border-gray-100 px-3 py-1 rounded text-gray-100 opacity-50 hover:opacity-75 md:hidden" id="navbar-toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0" id="navbar-collapse">
          <%= link_to "クイズ", "#", class: "p-2 lg:px-4 md:mx-2 text-orange-100 text-center border border-transparent rounded hover:bg-orange-100 hover:text-orange-700 transition-colors duration-300" %>
          <%= link_to "レシピ一覧", "#", class: "p-2 lg:px-4 md:mx-2 text-orange-100 text-center border border-transparent rounded hover:bg-orange-100 hover:text-orange-700 transition-colors duration-300" %>
          <%= link_to "ログイン", login_path, class: "p-2 lg:px-4 md:mx-2 text-orange-100 text-center border border-transparent rounded hover:bg-orange-100 hover:text-orange-700 transition-colors duration-300" %>
          <%= link_to "新規登録", new_user_path, class: "p-2 lg:px-4 md:mx-2 text-orange-100 text-center border border-solid border-orange-100 bg-orange-400 rounded hover:bg-white hover:text-orange-700 transition-colors duration-300 mt-1 md:mt-0 md:ml-1" %>
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  let toggleBtn = document.querySelector("#navbar-toggle");
  let collapse = document.querySelector("#navbar-collapse");

  toggleBtn.onclick = () => {
    collapse.classList.toggle("hidden");
    collapse.classList.toggle("flex");
  };
</script>
