<header class="sticky top-0 z-50 border-b-2 border-orange-300 shadow-md">
  <div class="header">

    <nav class="bg-white py-2 md:py-4">
      <div class="container px-4 mx-auto lg:flex lg:items-center">

        <div class="flex justify-between items-center">
          <%= link_to "OATMEAL-APP", root_path, class: "font-bold text-xl text-orange-400" %>
          <button class="border border-solid border-orange-400 px-3 py-1 rounded text-orange-400 lg:hidden" id="navbar-toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        
        <div class="hidden lg:flex flex-col lg:flex-row lg:ml-auto mt-3 lg:mt-0 text-sm md:text-lg lg:text-xl" id="navbar-collapse">
          <%= link_to new_food_path, class: "p-2 lg:px-4 md:mx-2 text-orange-400 text-center border border-transparent rounded hover:bg-orange-50 hover:text-orange-500 transition-colors duration-300", onmouseenter: "openPopover(event,'new-food-id')", onmouseleave: "openPopover(event,'new-food-id')" do %>
           <i class="fas fa-edit"></i><span class="lg:hidden"><%= t('foods.new.title') %></span>
          <% end %>
          <%= link_to foods_path, class: "p-2 lg:px-4 md:mx-2 text-orange-400 text-center border border-transparent rounded hover:bg-orange-50 hover:text-orange-500 transition-colors duration-300", onmouseenter: "openPopover(event,'foods-id')", onmouseleave: "openPopover(event,'foods-id')"  do %>
            <i class="fas fa-images"></i><span class="lg:hidden"><%= t('foods.index.title') %></span>
          <% end %>
          <%= link_to profile_path, class: "p-2 lg:px-4 md:mx-2 text-orange-400 text-center border border-transparent rounded hover:bg-orange-50 hover:text-orange-500 transition-colors duration-300", onmouseenter: "openPopover(event,'profile-id')", onmouseleave: "openPopover(event,'profile-id')"  do %>
            <i class="fas fa-user-cog"></i><span class="lg:hidden"><%= t('profiles.show.title') %></span>
          <% end %>
          <%= link_to logout_path, method: :delete, class: "p-2 lg:px-4 md:mx-2 text-orange-400 text-center border border-transparent rounded hover:bg-orange-50 hover:text-orange-500 transition-colors duration-300", onmouseenter: "openPopover(event,'logout-id')", onmouseleave: "openPopover(event,'logout-id')"  do %>
            <i class="fas fa-sign-out-alt"></i><span class="lg:hidden"><%= t('defaults.logout') %></span>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="hidden bg-white border-0 mb-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg" id="new-food-id">
  <div>
    <div class="bg-orange-500 text-white font-semibold p-2 mb-0 border-b border-solid border-blueGray-100 uppercase rounded-lg">
      <%= t('foods.new.title') %>
    </div>
  </div>
</div>
<div class="hidden bg-white border-0 mb-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg" id="foods-id">
  <div>
    <div class="bg-orange-500 text-white font-semibold p-2 mb-0 border-b border-solid border-blueGray-100 uppercase rounded-lg">
      <%= t('foods.index.title') %>
    </div>
  </div>
</div>
<div class="hidden bg-white border-0 mb-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg" id="profile-id">
  <div>
    <div class="bg-orange-500 text-white font-semibold p-2 mb-0 border-b border-solid border-blueGray-100 uppercase rounded-lg">
      <%= t('profiles.show.title') %>
    </div>
  </div>
</div>
<div class="hidden bg-white border-0 mb-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg" id="logout-id">
  <div>
    <div class="bg-orange-500 text-white font-semibold p-2 mb-0 border-b border-solid border-blueGray-100 uppercase rounded-lg">
      <%= t('defaults.logout') %>
    </div>
  </div>
</div>

<script>
  let toggleBtn = document.querySelector("#navbar-toggle");
  let collapse = document.querySelector("#navbar-collapse");

  toggleBtn.onclick = () => {
    collapse.classList.toggle("hidden");
    collapse.classList.toggle("flex");
  };
</script>

<script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>

<script>
  if (window.matchMedia( "(min-width: 1024px)" ).matches) {
    function openPopover(event,popoverID){
      let element = event.target;
      while(element.nodeName !== "A"){
        element = element.parentNode;
      }
      var popper = Popper.createPopper(element, document.getElementById(popoverID), {
        placement: 'bottom'
      });
      document.getElementById(popoverID).classList.toggle("hidden");
    }
  }
</script>
