<div class="bg-white max-w-sm rounded overflow-hidden shadow-lg">
  <div class= "w-full m-3">
    <%= image_tag food.image_url(:thumb), class: "w-11/12 shadow-lg" %>
  </div>
  <div class="px-6 pb-4">
    <div class="font-bold text-xl mb-2">
    <%= link_to food.name, food_path(food.uuid) %>
    </div>
    <p class="text-gray-700 text-base">
      <%= food.cooking_comment %>
    </p>
  </div>
  <p class="text-gray-700 text-base px-5 pb-2 underline">
    <i class="fas fa-user-alt"></i><%= food.user.name %>
  </p>
  <div class="px-6 pb-2">
    <% food.tags.each do |tag| %>
      <span class="inline-block bg-orange-400 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2"><%= tag.name %></span>
    <% end %>
  </div>
</div>
