<% content_for(:title, t('.title')) %>

<div class="flex justify-center items-center py-10">
  <div class="lg:w-4/5 md:w-1/2 w-11/12">
    <%= form_with model: @form, url: food_path(@food.uuid), local: true, class: "bg-gray-50 p-5 rounded-lg shadow-lg min-w-full" do |f| %>
      <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold"><%= t('.title') %></h1>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="flex justify-center">
        <div class="w-full lg:w-2/3">
          <%= f.label :name, class: "text-gray-600 font-semibold block mt-3 text-md" %><p class="text-sm text-red-500"><%= t('defaults.required') %></p>
          <%= f.text_field :name, class: "w-full bg-white shadow-md px-4 py-1.5 rounded-lg focus:outline-none rounded-md sm:mx-2 focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-80", placeholder: '〇〇オートミール' %>
        </div>
      </div>
      <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
        <!-- 左側 -->
        <div>
          <div>
            <%= f.label :image, class: "text-gray-600 font-semibold block my-3 text-md" %>
            <%= f.file_field :image, onchange: 'previewImage()', class: "w-full bg-white shadow-md px-4 py-0.5 mt-2 h-9 rounded-lg focus:outline-none rounded-md focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-80" %>
            <div class="flex justify-center">
              <%= image_tag @form.food.image_url, class: 'p-1 mt-3 border-4 border-orange-300 rounded-lg', id: 'preview', size: '510x680' %>
            </div>
          </div>
        </div>
        <!-- 右側 -->
        <div>
          <div>
            <%= f.label :cooking_time, class: "text-gray-600 font-semibold block mt-3 text-md" %><p class="text-sm text-red-500"><%= t('defaults.required') %></p>
            <%= f.text_field :cooking_time, class: "w-full bg-white shadow-md px-4 py-1.5 rounded-lg focus:outline-none rounded-md sm:mx-2 focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-80", placeholder: '5' %>
          </div>
          <div>
            <%= f.label :cooking_time_unit, class: "text-gray-600 font-semibold block mt-3 text-md" %><p class="text-sm text-red-500"><%= t('defaults.required') %></p>
            <%= f.select :cooking_time_unit, Food.cooking_time_units.keys.map {|k| [I18n.t("enums.food.cooking_time_unit.#{k}"), k]}, { include_blank: "選択してください" },class: "w-full bg-white shadow-md px-4 py-2 rounded-lg focus:outline-none rounded-md sm:mx-2 focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-80" %>
          </div>
          <div>
            <%= f.label :serving, class: "text-gray-600 font-semibold block mt-3 text-md" %><p class="text-sm text-red-500"><%= t('defaults.required') %></p>
            <%= f.text_field :serving, class: "w-full bg-white shadow-md px-4 py-1.5 rounded-lg focus:outline-none rounded-md sm:mx-2 focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-80", placeholder: '2' %>
          </div>
          <div>
            <%= f.label Tag.model_name.human, class: "text-gray-600 font-semibold block my-3 text-md" %>
            <div class="flex flex-wrap gap-x-3 gap-y-2">
              <%= f.collection_check_boxes :food_tags, Tag.all, :id, :name, { checked: @food.tag_ids.map(&:to_param) }, class: "bg-white px-4 py-2 rounded-lg focus:outline-none hidden" do |b| %>
                <%= b.label do %>
                  <%= b.check_box(class: "hidden") %>
                    <span class="w-2/5 lg:w-1/3 bg-yellow-100 hover:bg-orange-400 rounded-md text-orange-400 hover:text-yellow-100 px-3 py-1 mb-4 rounded-full text-center font-semibold"><%= b.text %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- 材料 -->
      <div>
        <%= f.label Ingredient.model_name.human, class: "text-gray-600 font-semibold block mt-3 text-md" %><p class="text-sm text-red-500"><%= t('defaults.required') %></p>
        <div id='js-add-ingredient-form'>
          <% if @form.ingredients.present? %>
            <% @form.ingredients.each do |ingredient| %>
              <%= render 'ingredients_form', f: f, ingredient: ingredient %>
            <% end %>
          <% end %>
        </div>
        <div class='my-2 pt-2'>
          <span class='cursor-pointer text-white bg-gradient-to-r from-yellow-400 hover:from-yellow-500 via-orange-400 hover:via-orange-500 to-orange-600 hover:to-orange-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2' onclick='addMediumForm(event)'><%= t('foods.new.add_ingredient') %></span>
        </div>
        <div class="text-xs md:text-md text-gray-600 pt-2">
          <p>※材料の量が大体でもわかる場合は、数字と単位を入力してください。</p>
          <p>※材料の量がわからない、少量、お好み、適量の場合は適量にチェックしてください。</p>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <!-- 作り方 -->
        <div>
          <%= f.label :recipe, class: "text-gray-600 font-semibold block mt-3 text-md" %><p class="text-sm text-red-500"><%= t('defaults.required') %></p>
          <%= f.text_area :recipe, class: "w-full h-36 shadow-md bg-white px-4 py-2 rounded-lg focus:outline-none rounded-md focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-80", placeholder: '・オートミールと水を器に入れ電子レンジで温めた後、〇〇を入れてよくかき混ぜる' %>
        </div>
        <!-- コメント -->
        <div>
          <%= f.label :cooking_comment, class: "text-gray-600 font-semibold block my-3 text-md" %>
          <%= f.text_area :cooking_comment, class: "w-full h-36 shadow-md bg-white px-4 py-2 mt-2 rounded-lg focus:outline-none rounded-md lg:mx-2 focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-80", placeholder: '簡単に作れて美味しいのでオススメです！！！' %>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit class: "cursor-pointer w-1/2 lg:w-1/4 mt-6 mb-2 lg:mb-0 bg-orange-400 hover:bg-orange-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold" %>
      </div>

      <script type="text/javascript">
        const addMediumForm = (e) => {
          const mediaForm = document.getElementById('js-add-ingredient-form')
          mediaForm.insertAdjacentHTML('afterend', "<%= j(render 'ingredients_form', {f: f, ingredient: Ingredient.new}) %>");
        }

        const removeMediumForm = (e) => {
          const mediumForm = e.currentTarget.closest('.js-remove-ingredient-form')
          mediumForm.remove();
        }
      </script>
    <% end %>
	</div>
</div>

<script>
function previewImage() {
    const target = this.event.target;
    const file = target.files[0];
    const reader  = new FileReader();
    reader.onloadend = function () {
        const preview = document.querySelector("#preview")
        if(preview) {
            preview.src = reader.result;
        }
    }
    if (file) {
        reader.readAsDataURL(file);
    }
}
</script>

<style>
  label input[type="checkbox"]:checked + span {
    background-color: #fb923c;
    color: #fef9c3;
    border-color: #fed7aa;
  }
</style>
