<div class="flex justify-center items-center py-10">
	<div class="lg:w-4/5 md:w-1/2 w-11/12">
		<%= form_with model: @form, local: true, class: "bg-white p-5 lg:p-10 rounded-lg shadow-lg min-w-full" do |f| %>
			<h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans"><%= t('.title') %></h1>
      <%= render 'shared/error_messages', object: f.object %>
      <div>
      	<%= f.label :name, class: "text-gray-800 font-semibold block my-3 text-md" %>
			  <%= f.text_field :name, class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" %>
      </div>
      <div>
      	<%= f.label :recipe, class: "text-gray-800 font-semibold block my-3 text-md" %>
			  <%= f.text_area :recipe, class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" %>
      </div>
      <div>
      	<%= f.label :image, class: "text-gray-800 font-semibold block my-3 text-md" %>
			  <%= f.file_field :image, class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" %>
      </div>
      <div>
      	<%= f.label :cooking_comment, class: "text-gray-800 font-semibold block my-3 text-md" %>
			  <%= f.text_area :cooking_comment, class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" %>
      </div>
      <div>
      	<%= f.label :cooking_time, class: "text-gray-800 font-semibold block my-3 text-md" %>
			  <%= f.text_field :cooking_time, class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" %>
      </div>
      <div>
      	<%= f.label :cooking_time_unit, class: "text-gray-800 font-semibold block my-3 text-md" %>
        <%= f.select :cooking_time_unit, Food.cooking_time_units.keys.map {|k| [I18n.t("enums.food.cooking_time_unit.#{k}"), k]}, { include_blank: "選択してください" },class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" %>
      </div>
      <div>
      	<%= f.label :serving, class: "text-gray-800 font-semibold block my-3 text-md" %>
			  <%= f.text_field :serving, class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" %>
      </div>
      <div>
      	<%= f.label 'タグ', class: "text-gray-800 font-semibold block my-3 text-md" %>
			  <%= f.collection_check_boxes :food_tags, Tag.all, :id, :name, include_hidden: false, class: "w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" do |b| %>
          <%= b.label(class: "bg-yellow-100 border-2 rounded-md border-orange-500 text-orange-500 mr-2 px-2") { b.check_box(class: "hidden") + b.text } %>
        <% end %>
      </div>
      <div>
        <%= f.label '材料', class: "text-gray-800 font-semibold block my-3 text-md" %>
        <div id='js-media-form'>
          <% if @form.ingredients.present? %>
            <% @form.ingredients.each do |ingredient| %>
              <%= render 'ingredients_form', f: f, ingredient: ingredient %>
            <% end %>
          <% end %>
        </div>
        <div class='my-2'>
          <span class='cursor-pointer underline hover:opacity-75' onclick='addMediumForm(event)'>材料追加</span>
        </div>
      </div>
      <div>
        <%= f.submit class: "w-full mt-6 bg-orange-400 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans" %>
      </div>

      <script type="text/javascript">
        const addMediumForm = (e) => {
          const mediaForm = document.getElementById('js-media-form')
          mediaForm.insertAdjacentHTML('afterend', "<%= j(render 'ingredients_form', {f: f, ingredient: Ingredient.new}) %>");
        }

        const removeMediumForm = (e) => {
          const mediumForm = e.currentTarget.closest('.js-medium-form')
          mediumForm.remove();
        }
      </script>
    <% end %>
	</div>
</div>
